name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  QT_BUILD_VERSION: 6.10.0


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        variants:
          -  {os: ubuntu-22.04, config: release, compiler: gcc_64, aqt_os: linux, aqt_compiler: gcc_64}
          -  {os: ubuntu-24.04, config: release, compiler: gcc_64, aqt_os: linux, aqt_compiler: gcc_64}
          # -  {os: ubuntu-24.04-arm, config: release, compiler: linux_gcc_arm64, aqt_os: linux_arm64, aqt_compiler: linux_gcc_arm64}
          -  {os: windows-2022, config: release, compiler: msvc2022_64, aqt_os: windows, aqt_compiler: win64_msvc2022_64}
          -  {os: windows-2025, config: release, compiler: msvc2022_64, aqt_os: windows, aqt_compiler: win64_msvc2022_64}
          -  {os: macos-14, config: release, compiler: clang_64, aqt_os: mac, aqt_compiler: clang_64}
          -  {os: macos-15, config: release, compiler: clang_64, aqt_os: mac, aqt_compiler: clang_64}
    runs-on: ${{ matrix.variants.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cache/pip/
          libdie++/build/
          target/
        key: ${{ matrix.variants.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build (Windows)
      if: startsWith(matrix.variants.os, 'windows-')
      env:
        QT6_LIB_PATH: "./libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
      run: |
        cargo build -vv --tests --examples --release
        cargo test -vv --release

    - name: Build (Linux)
      env:
        QT6_LIB_PATH: "./libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
        LD_LIBRARY_PATH: "${LD_LIBRARY_PATH}:libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
      run: |
        cargo build -vv --tests --examples --release
        cargo test -vv --release

    - name: Build (macOS)
      env:
        QT6_LIB_PATH: "./libdie++/build/${{ env.QT_BUILD_VERSION }}/macos/lib"
        LD_LIBRARY_PATH: "${LD_LIBRARY_PATH}:libdie++/build/${{ env.QT_BUILD_VERSION }}/macos/lib"
      run: |
        cargo build -vv --tests --examples --release
        cargo test -vv --release

