name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  QT_BUILD_VERSION: 6.2.2


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        variants:
          -  {os: ubuntu-24.04, config: release}
          # -  {os: ubuntu-24.04-arm, config: release}
          -  {os: windows-2019, config: release}
          -  {os: macos-13, config: release}
          -  {os: macos-14, config: release}
    runs-on: ${{ matrix.variants.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cache/pip/
          libdie++/build/
          target/
        key: ${{ matrix.variants.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build (macOS)
      if: startsWith(matrix.variants.os, 'macos-')
      run: |
        python -m pip install aqtinstall --user --upgrade
        python -m aqt install-qt -O libdie++/build mac desktop ${{ env.QT_BUILD_VERSION }} gcc_64
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/clang_64/lib"
        cargo build -vv --tests --examples
        echo QT6_LIB_PATH=${QT6_LIB_PATH} >> $GITHUB_ENV

    - name: Build (Linux)
      if: startsWith(matrix.variants.os, 'ubuntu-')
      run: |
        python -m pip install aqtinstall --user --upgrade
        python -m aqt install-qt -O libdie++/build linux desktop ${{ env.QT_BUILD_VERSION }} gcc_64
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/gcc_64/lib"
        cargo build -vv --tests --examples
        echo QT6_LIB_PATH=${QT6_LIB_PATH} >> $GITHUB_ENV

    - name: Build (Windows)
      if: startsWith(matrix.variants.os, 'windows-')
      run: |
        python -m pip install aqtinstall --user --upgrade
        python -m aqt install-qt -O libdie++/build windows desktop ${{ env.QT_BUILD_VERSION }} win64_msvc2019_64
        $env:QT6_LIB_PATH="./libdie++/build/${{ env.QT_BUILD_VERSION }}/msvc2019_64/lib"
        cargo build -vv --tests --examples

    - name: Tests (Linux)
      if: startsWith(matrix.variants.os, 'ubuntu-')
      run: |
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/gcc_64/lib"
        export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${QT6_LIB_PATH}
        cargo test -vv

    - name: Tests (macOS)
      if: startsWith(matrix.variants.os, 'macos-')
      run: |
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/clang_64/lib"
        export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${QT6_LIB_PATH}
        cargo test -vv

    - name: Tests (Windows)
      if: startsWith(matrix.variants.os, 'windows-')
      run: |
        $env:QT6_LIB_PATH="./libdie++/build/${{ env.QT_BUILD_VERSION }}/msvc2019_64/lib"
        cp -v ./libdie++/install/die/*.dll .
        cargo test -vv
