name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  QT_BUILD_VERSION: 6.10.0

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        variants:
          -  {os: ubuntu-24.04,       config: release,   compiler: gcc_64,      aqt_os: linux,         aqt_compiler: gcc_64}
          -  {os: ubuntu-24.04-arm,   config: release,   compiler: gcc_arm64,   aqt_os: linux_arm64,   aqt_compiler: gcc_arm64}
          -  {os: windows-2025,       config: release,   compiler: msvc2022_64, aqt_os: windows,       aqt_compiler: win64_msvc2022_64}
          # -  {os: macos-15,           config: release,   compiler: clang_64,    aqt_os: mac,           aqt_compiler: clang_64}
          # -  {os: macos-14,           config: release,   compiler: clang_64,    aqt_os: mac,           aqt_compiler: clang_64}
    runs-on: ${{ matrix.variants.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cache/pip/
          libdie++/build/
          target/
        key: ${{ matrix.variants.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build (Windows)
      if: startsWith(matrix.variants.os, 'windows-')
      run: |
        $env:QT6_LIB_PATH="./libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
        $env:DIE_DB_PATH="./libdie++/install/die/db/db"
        cargo build -vv --tests --examples --release
        cp ./libdie++/install/die/*.dll .
        cargo test -vv --release
        cargo run --release --example scan_file -- -vv C:\Windows\System32\winver.exe

    - name: Build (Linux)
      if: startsWith(matrix.variants.os, 'ubuntu-')
      run: |
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
        export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/${{ matrix.variants.compiler }}/lib"
        export DIE_DB_PATH="`pwd`/libdie++/install/die/db/db"
        cargo build -vv --tests --examples
        cargo test -vv
        cargo run --example scan_file -- -vv /bin/ls --database-path ${DIE_DB_PATH}

    - name: Build (macOS)
      if: startsWith(matrix.variants.os, 'macos-')
      run: |
        export QT6_LIB_PATH="`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/macos/lib"
        export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:`pwd`/libdie++/build/${{ env.QT_BUILD_VERSION }}/macos/lib"
        export DIE_DB_PATH="`pwd`/libdie++/install/die/db/db"
        cargo build -vv --tests --examples
        cargo test -vv
        cargo run --example scan_file -- -vv /bin/ls --database-path ${DIE_DB_PATH}

